@page "/login"

@using Services;

@inject UserService service

@inject NavigationManager nav


<div class="logregcontainer">
    
    <div class="logincontainer">

        <h1> Empresa</h1>        
        <p>
            <label>Nome de Usuario</label>
            <input type="text" @bind-value="@userId"/>
        </p>

        <p>
            <label>Senha</label>
            <input type="password" @bind-value="@password"/>
        </p>

        <button onclick="@UserLogin">
            Logar
        </button>
    </div>
</div>

<div class="logregcontainer2">
    
    <div class="logincontainer2">

        <h1> Desempregado</h1>        
        <p>
            <label>Nome de Usuario</label>
            <input type="text" @bind-value="@userId"/>
        </p>

        <p>
            <label>Senha</label>
            <input type="password" @bind-value="@password"/>
        </p>

        <button onclick="@UserLogin">
            Logar
        </button>
    </div>
</div>



@code 
{
    private string name;
    private string password;
    private string repeatpassword;
    private DateTime birth;
    private string userId;

    public async void CreateAccount()
    {
        await service.Register(
            this.name, 
            this.userId,
            this.birth, 
            this.password);

            this.name = ""; 
            this.userId = "";
            this.birth = DateTime.Now; 
            this.repeatpassword = "";
            this.password = "" ;

            this.StateHasChanged();
            
    }

    public async void UserLogin()
    {
        var result = await service.Login(
            this.userId,
            this.password
        );
        if (result == null)
         return;

         nav.NavigateTo("/");
        
    }
}